openapi: 3.0.0

info:
  version: '1.0'
  title: 'Eventure Web API'
  description: 'Web resources specification (A7) for Eventure'

servers:
- url: http://lbaw2136.lbaw-prod.fe.up.pt
  description: Production server

tags:
  - name: 'M01: Authentication and User Profile'
  - name: 'M02: Events'
  - name: 'M03: Matches and Leaderboards'
  - name: 'M04: Static Pages'
  - name: 'M05: Administration'

paths:
  # M01: Authentication and User Profile

  /sign-in:
    get:
      operationId: R101
      summary: 'R101: Sign In Form'
      description: 'Provides a sign in form, allowing users to authenticate themselves. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Ok. Show [UI02](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2136/-/wikis/ER#ui02-sign-in)'
    post:
      operationId: R102
      summary: 'R102: Sign In Action'
      description: 'Processes information sent through the sign in form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '302':
          description: 'Redirect user after processing the sign in credentials, depending on whether the authentication was successful or not.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/user/{username}'
                302Error:
                  description: 'Failed authentication (username or password did not match). Redirect to sign in form.'
                  value: '/sign-in'
    
  /sign-out:
    post:
      operationId: R103
      summary: 'R103: Sign Out Action'
      description: 'Ends the session of the currently authenticated user. Access: USR, ADM'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '302':
          description: 'Redirect user after signing them out.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful sign out. Redirect to sign in form.'
                  value: '/sign-in'
    
  /sign-up:
    get:
      operationId: R104
      summary: 'R104: Sign Up Form'
      description: 'Provides a sign up form, allowing users to create a new account. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      responses:
        '200':
          description: 'Ok. Show [UI03](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2136/-/wikis/ER#ui03-sign-up)'
    post:
      operationId: R105
      summary: 'R105: Sign Up Action'
      description: 'Processes the information sent through the sign up form. Access: PUB'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - name
                - username
                - email
                - password
      responses:
        '302':
          description: 'Redirect user after processing the sign up information, depending on whether the account was created successfully or not.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to edit user profile.'
                  value: '/user/{username}/edit'
                302Error:
                  description: 'Account could not be created (username or email already in use). Redirect to sign up form.'
                  value: '/sign-up'
  
  /user/{username}:
    get:
      operationId: R106
      summary: 'R106: View User Profile'
      description: 'Show an individual user profile. Access: USR, ADM'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Show [UI05](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2136/-/wikis/ER#ui05-user-profile)'

  /user/{username}/edit:
    get:
      operationId: R107
      summary: 'R107: Edit Profile Form'
      description: 'Provides a form that allows users to edit their account details. Access: OWN'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Show [UI06](https://git.fe.up.pt/lbaw/lbaw2021/lbaw2136/-/wikis/ER#ui06-edit-profile)'
    post:
      operationId: R108
      summary: 'R108: Edit Profile Action'
      description: 'Processes information sent through the edit profile form. Access: OWN'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                username:
                  type: string
                email:
                  type: string
                description:
                  type: string
                gender:
                  type: string
                age:
                  type: integer
                location:
                  type: string
                website:
                  type: string
              required:
                - name
                - username
                - email
      responses:
        '302':
          description: 'Redirect user after processing the form information, depending on whether an error occurred or not.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account details were changed successfully. Redirect to user profile'
                  value: '/user/{username}'
                302Error:
                  description: 'An error occurred while changing the account details. Redirect to edit profile form.'
                  value: '/user/{username}/edit'

  /user/{username}/delete:
    post:
      operationId: R109
      summary: 'R109: Delete Account'
      description: 'Deletes the account of the currently authenticated user and signs them out. Access: OWN'
      tags:
        - 'M01: Authentication and User Profile'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                required:
                  - password
      responses:
        '302':
          description: 'Redirect user after account deletion.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful account deletion. Redirect to home page.'
                  value: '/'
                302Error:
                  description: 'An error occurred during account deletion. Redirect to edit profile form.'
                  value: '/user/{username}/edit'

  /api/change-password:
    post:
      operationId: R110
      summary: 'R110: Change Password'
      description: 'Changes the password of the currently authenticated user. Access: USR'
      tags:
        - 'M01: Authentication and User Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                oldPassword:
                  type: string
                newPassword:
                  type: string
              required:
                - oldPassword
                - newPassword
      responses:
        # TODO
        '302':
          description: 'Redirect user after changing their password.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Password was successfully changed. Redirect to user profile.'
                  value: '/user/{username}'
                302Error:
                  description: 'An error occurred when changing password. Redirect to edit profile form.'
                  value: '/user/{username}/edit'
