
img.google {
    height: 1em;
}

/*
.alert-primary {
    color: #845100;
    background-color: #ffebcc;
    border-color: #ffe3b7;
}

.alert-primary hr {
    border-top-color: #ffd99e;
}

.alert-primary .alert-link {
    color: #513100;
}

.badge-primary {
    color: #212529;
    background-color: #FF9C00;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #212529;
    background-color: #cc7c00;
}

.bg-primary {
    background-color: #FF9C00 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #cc7c00 !important;
}

.border-primary {
    border-color: #FF9C00 !important;
}

.btn-primary {
    color: #212529;
    background-color: #FF9C00;
    border-color: #FF9C00;
}

.btn-primary:hover {
    color: #212529;
    background-color: #db8600;
    border-color: #cc7c00;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 156, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #212529;
    background-color: #FF9C00;
    border-color: #FF9C00;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #cc7c00;
    border-color: #bc7300;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 156, 0, 0.5);
}

.btn-outline-primary {
    color: #FF9C00;
    background-color: transparent;
    border-color: #FF9C00;
}

.btn-outline-primary:hover {
    color: #212529;
    background-color: #FF9C00;
    border-color: #FF9C00;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 156, 0, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #FF9C00;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #FF9C00;
    border-color: #FF9C00;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 156, 0, 0.5);
}

.list-group-item-primary {
    color: #845100;
    background-color: #ffe3b7;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #845100;
    background-color: #ffd99e;
}

.list-group-item-primary.list-group-item-action.active {
    color: #212529;
    background-color: #845100;
    border-color: #845100;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #ffe3b7;
}

.table-hover .table-primary:hover {
    background-color: #ffd99e;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #ffd99e;
}

.text-primary {
    color: #FF9C00 !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #cc7c00 !important;
}

.alert-secondary {
    color: #143c51;
    background-color: #beddee;
    border-color: #aed5ea;
}

.alert-secondary hr {
    border-top-color: #9acbe5;
}

.alert-secondary .alert-link {
    color: #0a1e29;
}

.badge-secondary {
    color: #fff;
    background-color: #2E85B3;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
    color: #fff;
    background-color: #23668a;
}

.bg-secondary {
    background-color: #2E85B3 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
    background-color: #23668a !important;
}

.border-secondary {
    border-color: #2E85B3 !important;
}

.btn-secondary {
    color: #fff;
    background-color: #2E85B3;
    border-color: #2E85B3;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #266f96;
    border-color: #23668a;
}

.btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 133, 179, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #2E85B3;
    border-color: #2E85B3;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #23668a;
    border-color: #205d7e;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 133, 179, 0.5);
}

.btn-outline-secondary {
    color: #2E85B3;
    background-color: transparent;
    border-color: #2E85B3;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #2E85B3;
    border-color: #2E85B3;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 133, 179, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #2E85B3;
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #2E85B3;
    border-color: #2E85B3;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 133, 179, 0.5);
}

.list-group-item-secondary {
    color: #143c51;
    background-color: #aed5ea;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
    color: #143c51;
    background-color: #9acbe5;
}

.list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #143c51;
    border-color: #143c51;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: #aed5ea;
}

.table-hover .table-secondary:hover {
    background-color: #9acbe5;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
    background-color: #9acbe5;
}

.text-secondary {
    color: #2E85B3 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
    color: #23668a !important;
}

*/